In [1]:
import string
import pandas as pd

C:\Users\DELL\AppData\Local\Temp\ipykernel_10400\4073357179.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

<h1> Data Preprocessing </h1>

In [2]:
df = pd.read_csv('emails.csv')
df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [4]:
df['spam'].value_counts()

spam
0    4360
1    1368
Name: count, dtype: int64

In [5]:
df['text'].value_counts

<bound method IndexOpsMixin.value_counts of 0       Subject: naturally irresistible your corporate...
1       Subject: the stock trading gunslinger  fanny i...
2       Subject: unbelievable new homes made easy  im ...
3       Subject: 4 color printing special  request add...
4       Subject: do not have money , get software cds ...
                              ...
5723    Subject: re : research and development charges...
5724    Subject: re : receipts from visit  jim ,  than...
5725    Subject: re : enron case study update  wow ! a...
5726    Subject: re : interest  david ,  please , call...
5727    Subject: news : aurora 5 . 2 update  aurora ve...
Name: text, Length: 5728, dtype: object>

In [7]:
## Removing Stopwords

In [9]:
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
def preprocess(text):
    #remove punctuation and lowercase
    text = "".join([t.lower() for t in text if t not in string.punctuation])

    #tokenize
    tokens = text.split(" ") # 'hello world' == 'hello' , 'world'

    #filter out stopwords
    return " ".join(t for t in tokens if t not in ENGLISH_STOP_WORDS)

df['text'] = df['text'].apply(lambda text: preprocess(text))
df.head()

                                                text  spam
0  subject naturally irresistible corporate ident...     1
1  subject stock trading gunslinger  fanny merril...     1
2  subject unbelievable new homes easy  im wantin...     1
3  subject 4 color printing special  request addi...     1
4  subject money  software cds   software compati...     1